<h1><%= @figure.name %></h1>

<label>Titles:</label>
<% @figure.titles.each do |title| %>
  <%= title.name %>
<% end %>
<br></br>

<label>Landmarks:</label>
<% @figure.landmarks.each do |landmark| %>
  <% landmark.name %>
<% end %>
